.selectWrap{
  width : 75%;
  margin-left: 100px;
  margin-top: 80px;
  text-align: center;
  
}

/*인증번호 확인 버튼*/
.checkButton {
  position: fixed;
  width: 600px;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #000080;
  color: white;
  cursor: pointer;
  text-align: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}