
/*인증요청 버튼*/
.requestButton{
    width : 100px;
    height: 50px;
    background-color: #000080;
    color: white;
    border-radius: 20%;
    margin-top: 30px;
    margin-left: 20px;
}

/*확인 버튼*/
.confirmButton{
    width : 100px;
    height: 50px;
    background-color: #000080;
    color: white;
    border-radius: 20%;
    margin-top: 30px;
    margin-left: 20px;
}

.inputWrap {
    width: 420px;
    display: flex;
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid #e2e0e0;
  }
  
  